# Python basics les 2: 24/2
## IF structuur

In [8]:
#check of een getal positief of negatief is

x = input("Geef een x in: ")
x = int(x)
if x > 0:
    print("positief getal")
elif x == 0:
    print("is nul")
else:
    print("negatief getal")

positief getal

In [10]:
#check of een getal even of oneven is

x = input("Geef een x in: ")
x = int(x)

if x % 2 == 0:
    print("even getal")
elif x == 0:
    print("is nul")
else:
    print("oneven getal")

even getal

## Lussen
### for-loop

In [18]:
print("for i=0 --> <10 i++")
for i in range(0,10): 
    print("5 * ",i," = ",i*5)

print("for i=0 --> <=10 i++")
for i in range(0,11): #for i=0 --> <=10 i++
    print("5 * ",i," = ",i*5)

print("for i=10 --> 0 i--")
for i in range(10,-1,-1): #for i=10 --> 0 i--
    print("5 * ",i," = ",i*5)

print("for i=0 --> <=10 i+=2")
for i in range(0,11,2): #for i=0 --> <=10 i+=2
    print("5 * ",i," = ",i*5)

print("een woord")
for c in "een woord":
    print(c)

for i=0 --> <10 i++
5 *  0  =  0
5 *  1  =  5
5 *  2  =  10
5 *  3  =  15
5 *  4  =  20
5 *  5  =  25
5 *  6  =  30
5 *  7  =  35
5 *  8  =  40
5 *  9  =  45
for i=0 --> <=10 i++
5 *  0  =  0
5 *  1  =  5
5 *  2  =  10
5 *  3  =  15
5 *  4  =  20
5 *  5  =  25
5 *  6  =  30
5 *  7  =  35
5 *  8  =  40
5 *  9  =  45
5 *  10  =  50
for i=10 --> 0 i--
5 *  10  =  50
5 *  9  =  45
5 *  8  =  40
5 *  7  =  35
5 *  6  =  30
5 *  5  =  25
5 *  4  =  20
5 *  3  =  15
5 *  2  =  10
5 *  1  =  5
5 *  0  =  0
for i=0 --> <=10 i+=2
5 *  0  =  0
5 *  2  =  10
5 *  4  =  20
5 *  6  =  30
5 *  8  =  40
5 *  10  =  50
een woord
e
e
n

w
o
o
r
d

### Geneste for-loop

In [19]:
# * * * * *
# * * * *
# * * *
# * *
# *

for x in range(5,-1,-1):
    for y in range(0,x):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

### while loop

In [20]:
x = 5
while x < 500000:
    print(x)
    x*=5

x = 5
while x < 500000:
    x*=5
    print(x)

5
25
125
625
3125
15625
78125
390625
25
125
625
3125
15625
78125
390625
1953125

### for loop naar while loop

In [22]:
print("for i=0 --> <=10 i++")
i = 0
while i <= 10:
    print(i)
    i +=1


print("for i=10 --> 0 i--")
i = 10
while i >= 0:
    print(i)
    i -=1

for i=0 --> <=10 i++
0
1
2
3
4
5
6
7
8
9
10
for i=10 --> 0 i--
10
9
8
7
6
5
4
3
2
1
0

### Hailstone sequentie

If n is 1 then the sequence ends.<br>
If n is even then the next n of the sequence = n/2 <br>
If n is odd then the next n of the sequence = (3 * n) + 1 <br>

n = 11

Hailstone sequentie = 11 34 17 52 26 13 40 20 105 16 8 4 2 1 4 2 1 ...

In [26]:
n = 11
print(n, end =" ")
while n != 1:
    if (n % 2 == 0):
        n = n // 2 ## n /= 2 --> int(n)
    else:
        n = (3*n)+1
    print(n, end =" ")

11 34 17 52 26 13 40 20 10 5 16 8 4 2 1