# Databases - 10 - 11/05

install packages mysql-connector-python

In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\elkeb\appdata\local\programs\python\python37\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\elkeb\appdata\local\programs\python\python37\lib\site-packages (from mysql-connector-python) (3.20.3)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## Connect to a database

In [4]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

print(conn.database)

cursor.close()
conn.close()

movies_db

## CREATE OPERATION

In [5]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = "INSERT INTO actors(name) VALUES ('Kevin Hart');"
cursor.execute(query)

conn.commit()

cursor.close()
conn.close()

In [6]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = "INSERT INTO actors(name) VALUES (%s);"
data = [ ["Leonardo Dicaprio"], ["Samuel L Jackson"], ["Angelina Jolie"] ]
cursor.executemany(query,data)

conn.commit()

cursor.close()
conn.close()

## READ OPERATION

In [11]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = "SELECT * FROM actors;"
cursor.execute(query)
data = cursor.fetchall()

print(data)

for actor in data:
    print(actor)

for actor in data:
    print(actor[1])

for id, name in data:
    print(id)

cursor.close()
conn.close()

[(1, 'Michelle Yeoh'), (2, 'Stephan James'), (3, 'Jamie Lee Curtis'), (4, 'Tom Cruise'), (5, 'Dwayne Johnson'), (6, 'Kevin Hart'), (7, 'Leonardo Dicaprio'), (8, 'Samuel L Jackson'), (9, 'Angelina Jolie')]
(1, 'Michelle Yeoh')
(2, 'Stephan James')
(3, 'Jamie Lee Curtis')
(4, 'Tom Cruise')
(5, 'Dwayne Johnson')
(6, 'Kevin Hart')
(7, 'Leonardo Dicaprio')
(8, 'Samuel L Jackson')
(9, 'Angelina Jolie')
Michelle Yeoh
Stephan James
Jamie Lee Curtis
Tom Cruise
Dwayne Johnson
Kevin Hart
Leonardo Dicaprio
Samuel L Jackson
Angelina Jolie
1
2
3
4
5
6
7
8
9

In [14]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = """select movies.title, actors.name from movies 
                inner join movie_actor on movies.id = movie_actor.movie_id 
                inner join actors on actors.id = movie_actor.actor_id;"""
cursor.execute(query)
data = cursor.fetchall()

for row in data:
    print(row)

for movie, actor in data:
    print(actor, "plays in", movie)

cursor.close()
conn.close()

('Everything Everywhere All at Once', 'Michelle Yeoh')
('Everything Everywhere All at Once', 'Stephan James')
('Everything Everywhere All at Once', 'Jamie Lee Curtis')
Michelle Yeoh plays in Everything Everywhere All at Once
Stephan James plays in Everything Everywhere All at Once
Jamie Lee Curtis plays in Everything Everywhere All at Once

## UPDATE OPERATION

Update Jumanji (add jumanji first) --> Board game brings jungle chaos, adventure, and danger.

In [15]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = """UPDATE movies SET synopsis = 'Board game brings jungle chaos, adventure, and danger'
                         WHERE title like 'Jumanji' """
cursor.execute(query)
conn.commit()

cursor.close()
conn.close()