# Databases - 10 - 11/05

install packages mysql-connector-python

In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\elkeb\appdata\local\programs\python\python37\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\elkeb\appdata\local\programs\python\python37\lib\site-packages (from mysql-connector-python) (3.20.3)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## Connect to a database

In [4]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

print(conn.database)

cursor.close()
conn.close()

movies_db

## CREATE OPERATION

In [5]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = "INSERT INTO actors(name) VALUES ('Kevin Hart');"
cursor.execute(query)

conn.commit()

cursor.close()
conn.close()

In [6]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = "INSERT INTO actors(name) VALUES (%s);"
data = [ ["Leonardo Dicaprio"], ["Samuel L Jackson"], ["Angelina Jolie"] ]
cursor.executemany(query,data)

conn.commit()

cursor.close()
conn.close()

## READ OPERATION

In [11]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = "SELECT * FROM actors;"
cursor.execute(query)
data = cursor.fetchall()

print(data)

for actor in data:
    print(actor)

for actor in data:
    print(actor[1])

for id, name in data:
    print(id)

cursor.close()
conn.close()

[(1, 'Michelle Yeoh'), (2, 'Stephan James'), (3, 'Jamie Lee Curtis'), (4, 'Tom Cruise'), (5, 'Dwayne Johnson'), (6, 'Kevin Hart'), (7, 'Leonardo Dicaprio'), (8, 'Samuel L Jackson'), (9, 'Angelina Jolie')]
(1, 'Michelle Yeoh')
(2, 'Stephan James')
(3, 'Jamie Lee Curtis')
(4, 'Tom Cruise')
(5, 'Dwayne Johnson')
(6, 'Kevin Hart')
(7, 'Leonardo Dicaprio')
(8, 'Samuel L Jackson')
(9, 'Angelina Jolie')
Michelle Yeoh
Stephan James
Jamie Lee Curtis
Tom Cruise
Dwayne Johnson
Kevin Hart
Leonardo Dicaprio
Samuel L Jackson
Angelina Jolie
1
2
3
4
5
6
7
8
9

In [14]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = """select movies.title, actors.name from movies 
                inner join movie_actor on movies.id = movie_actor.movie_id 
                inner join actors on actors.id = movie_actor.actor_id;"""
cursor.execute(query)
data = cursor.fetchall()

for row in data:
    print(row)

for movie, actor in data:
    print(actor, "plays in", movie)

cursor.close()
conn.close()

('Everything Everywhere All at Once', 'Michelle Yeoh')
('Everything Everywhere All at Once', 'Stephan James')
('Everything Everywhere All at Once', 'Jamie Lee Curtis')
Michelle Yeoh plays in Everything Everywhere All at Once
Stephan James plays in Everything Everywhere All at Once
Jamie Lee Curtis plays in Everything Everywhere All at Once

## UPDATE OPERATION

Update Jumanji (add jumanji first) --> Board game brings jungle chaos, adventure, and danger.

In [15]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = conn.cursor()

query = """UPDATE movies SET synopsis = 'Board game brings jungle chaos, adventure, and danger'
                         WHERE title like 'Jumanji' """
cursor.execute(query)
conn.commit()

cursor.close()
conn.close()

## SCRAPE DATA INTO DATABASE

https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films

In [28]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films"
response = requests.get(url)
soup = BeautifulSoup(response.text)

# opening database
import mysql.connector
conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)
cursor = conn.cursor()


table = soup.find("table")
rows = table.find_all("tr")
for row in rows:
    td = row.find_all("td")
    if len(td) > 0:
        title = td[0].get_text().strip().replace("'","")
        year = td[1].get_text().strip()
        nom = td[3].get_text().strip()
        awards = td[2].get_text().strip()

        query = "SELECT * from movies where title like '" + title + "'";
        # print(query)
        cursor.execute(query)
        data = cursor.fetchall()

        if len(data) == 0:
            query = "INSERT into movies(title) values ('"+ title +"')"
            cursor.execute(query)
            conn.commit()

            movie_id = cursor.lastrowid
            
            query = "INSERT into awards(movie_id, awardshow_id, year, awards, nominations) values(%s,%s,%s,%s,%s)"
            values = (movie_id, 1, year, awards, nom)
            cursor.execute(query, values)
            conn.commit()
        
cursor.close()
conn.close()

SELECT * from movies where title like 'Everything Everywhere All at Once'
SELECT * from movies where title like 'All Quiet on the Western Front'
SELECT * from movies where title like 'The Whale'
SELECT * from movies where title like 'Top Gun: Maverick'
SELECT * from movies where title like 'Black Panther: Wakanda Forever'
SELECT * from movies where title like 'Avatar: The Way of Water'
SELECT * from movies where title like 'Women Talking'
SELECT * from movies where title like 'Guillermo del Toros Pinocchio'
SELECT * from movies where title like 'Navalny'
SELECT * from movies where title like 'The Elephant Whisperers'
SELECT * from movies where title like 'An Irish Goodbye'
SELECT * from movies where title like 'The Boy, the Mole, the Fox and the Horse'
SELECT * from movies where title like 'RRR'
SELECT * from movies where title like 'CODA'
SELECT * from movies where title like 'Dune'
SELECT * from movies where title like 'The Eyes of Tammy Faye'
SELECT * from movies where title like 'No Time to Die'
SELECT * from movies where title like 'The Windshield Wiper'
SELECT * from movies where title like 'The Long Goodbye'
SELECT * from movies where title like 'The Queen of Basketball'
SELECT * from movies where title like 'Summer of Soul'
SELECT * from movies where title like 'Drive My Car'
SELECT * from movies where title like 'Encanto'
SELECT * from movies where title like 'West Side Story'
SELECT * from movies where title like 'Belfast'
SELECT * from movies where title like 'The Power of the Dog'
SELECT * from movies where title like 'King Richard'
SELECT * from movies where title like 'Cruella'
SELECT * from movies where title like 'Nomadland'
SELECT * from movies where title like 'The Father'
SELECT * from movies where title like 'Judas and the Black Messiah'
SELECT * from movies where title like 'Minari'
SELECT * from movies where title like 'Mank'
SELECT * from movies where title like 'Sound of Metal'
SELECT * from movies where title like 'Ma Raineys Black Bottom'
SELECT * from movies where title like 'Promising Young Woman'
SELECT * from movies where title like 'Tenet'
SELECT * from movies where title like 'Soul'
SELECT * from movies where title like 'Another Round'
SELECT * from movies where title like 'My Octopus Teacher'
SELECT * from movies where title like 'Colette'
SELECT * from movies where title like 'If Anything Happens I Love You'
SELECT * from movies where title like 'Two Distant Strangers'
SELECT * from movies where title like 'Parasite'
SELECT * from movies where title like 'Ford v Ferrari'
SELECT * from movies where title like 'Learning to Skateboard in a Warzone (If Youre a Girl)'
SELECT * from movies where title like 'The Neighbors Window'
SELECT * from movies where title like 'Little Women'
SELECT * from movies where title like 'Marriage Story'
SELECT * from movies where title like 'Jojo Rabbit'
SELECT * from movies where title like 'Toy Story 4'
SELECT * from movies where title like 'Joker'
SELECT * from movies where title like 'Once Upon a Time in Hollywood'
SELECT * from movies where title like '1917'
SELECT * from movies where title like 'Judy'
SELECT * from movies where title like 'Bombshell'
SELECT * from movies where title like 'Rocketman'
SELECT * from movies where title like 'American Factory'
SELECT * from movies where title like 'Hair Love'
SELECT * from movies where title like 'Green Book'
SELECT * from movies where title like 'Bohemian Rhapsody'
SELECT * from movies where title like 'Roma'
SELECT * from movies where title like 'Black Panther'
SELECT * from movies where title like 'The Favourite'
SELECT * from movies where title like 'A Star Is Born'
SELECT * from movies where title like 'Vice'
SELECT * from movies where title like 'BlacKkKlansman'
SELECT * from movies where title like 'First Man'
SELECT * from movies where title like 'If Beale Street Could Talk'
SELECT * from movies where title like 'Bao'
SELECT * from movies where title like 'Free Solo'
SELECT * from movies where title like 'Period. End of Sentence.'
SELECT * from movies where title like 'Skin'
SELECT * from movies where title like 'Spider-Man: Into the Spider-Verse'
SELECT * from movies where title like 'The Shape of Water'
SELECT * from movies where title like 'Dunkirk'
SELECT * from movies where title like 'Three Billboards Outside Ebbing, Missouri'
SELECT * from movies where title like 'Darkest Hour'
SELECT * from movies where title like 'Blade Runner 2049'
SELECT * from movies where title like 'Coco'
SELECT * from movies where title like 'Phantom Thread'
SELECT * from movies where title like 'Call Me by Your Name'
SELECT * from movies where title like 'Get Out'
SELECT * from movies where title like 'I, Tonya'
SELECT * from movies where title like 'Dear Basketball'
SELECT * from movies where title like 'A Fantastic Woman'
SELECT * from movies where title like 'Heaven Is a Traffic Jam on the 405'
SELECT * from movies where title like 'Icarus'
SELECT * from movies where title like 'The Silent Child'
SELECT * from movies where title like 'Flesh and Sand (Carne y arena)'
SELECT * from movies where title like 'Moonlight'
SELECT * from movies where title like 'La La Land'
SELECT * from movies where title like 'Hacksaw Ridge'
SELECT * from movies where title like 'Manchester by the Sea'
SELECT * from movies where title like 'Arrival'
SELECT * from movies where title like 'Fences'
SELECT * from movies where title like 'Fantastic Beasts and Where to Find Them'
SELECT * from movies where title like 'The Jungle Book'
SELECT * from movies where title like 'O.J.: Made in America'
SELECT * from movies where title like 'Piper'
SELECT * from movies where title like 'The Salesman'
SELECT * from movies where title like 'Sing'
SELECT * from movies where title like 'Suicide Squad'
SELECT * from movies where title like 'The White Helmets'
SELECT * from movies where title like 'Zootopia'
SELECT * from movies where title like 'Spotlight'
SELECT * from movies where title like 'Mad Max: Fury Road'
SELECT * from movies where title like 'The Revenant'
SELECT * from movies where title like 'Bridge of Spies'
SELECT * from movies where title like 'The Big Short'
SELECT * from movies where title like 'The Danish Girl'
SELECT * from movies where title like 'Room'
SELECT * from movies where title like 'The Hateful Eight'
SELECT * from movies where title like 'Ex Machina'
SELECT * from movies where title like 'Inside Out'
SELECT * from movies where title like 'Amy'
SELECT * from movies where title like 'Bear Story'
SELECT * from movies where title like 'A Girl in the River: The Price of Forgiveness'
SELECT * from movies where title like 'Son of Saul'
SELECT * from movies where title like 'Spectre'
SELECT * from movies where title like 'Stutterer'
SELECT * from movies where title like 'Birdman or (The Unexpected Virtue of Ignorance)'
SELECT * from movies where title like 'The Grand Budapest Hotel'
SELECT * from movies where title like 'Whiplash'
SELECT * from movies where title like 'The Imitation Game'
SELECT * from movies where title like 'American Sniper'
SELECT * from movies where title like 'Boyhood'
SELECT * from movies where title like 'Interstellar'
SELECT * from movies where title like 'The Theory of Everything'
SELECT * from movies where title like 'Ida'
SELECT * from movies where title like 'Selma'
SELECT * from movies where title like 'Citizenfour'
SELECT * from movies where title like 'Big Hero 6'
SELECT * from movies where title like 'Crisis Hotline: Veterans Press 1'
SELECT * from movies where title like 'The Phone Call'
SELECT * from movies where title like 'Still Alice'
SELECT * from movies where title like 'Feast'
SELECT * from movies where title like '12 Years a Slave'
SELECT * from movies where title like 'Gravity'
SELECT * from movies where title like 'Dallas Buyers Club'
SELECT * from movies where title like 'Frozen'
SELECT * from movies where title like 'The Great Gatsby'
SELECT * from movies where title like 'Her'
SELECT * from movies where title like 'Blue Jasmine'
SELECT * from movies where title like 'Mr Hublot'
SELECT * from movies where title like 'The Lady in Number 6'
SELECT * from movies where title like 'Helium'
SELECT * from movies where title like 'The Great Beauty'
SELECT * from movies where title like '20 Feet from Stardom'
SELECT * from movies where title like 'Argo'
SELECT * from movies where title like 'Life of Pi'
SELECT * from movies where title like 'Les Misérables'
SELECT * from movies where title like 'Lincoln'
SELECT * from movies where title like 'Django Unchained'
SELECT * from movies where title like 'Skyfall'
SELECT * from movies where title like 'Silver Linings Playbook'
SELECT * from movies where title like 'Zero Dark Thirty'
SELECT * from movies where title like 'Amour'
SELECT * from movies where title like 'Anna Karenina'
SELECT * from movies where title like 'Paperman'
SELECT * from movies where title like 'Brave'
SELECT * from movies where title like 'Searching for Sugar Man'
SELECT * from movies where title like 'Inocente'
SELECT * from movies where title like 'Curfew'
SELECT * from movies where title like 'The Artist'
SELECT * from movies where title like 'Hugo'
SELECT * from movies where title like 'The Iron Lady'
SELECT * from movies where title like 'The Descendants'
SELECT * from movies where title like 'The Girl with the Dragon Tattoo'
SELECT * from movies where title like 'Midnight in Paris'
SELECT * from movies where title like 'The Help'
SELECT * from movies where title like 'A Separation'
SELECT * from movies where title like 'The Fantastic Flying Books of Mr. Morris Lessmore'
SELECT * from movies where title like 'The Shore'
SELECT * from movies where title like 'Undefeated'
SELECT * from movies where title like 'The Muppets'
SELECT * from movies where title like 'Saving Face'
SELECT * from movies where title like 'Beginners'
SELECT * from movies where title like 'Rango'
SELECT * from movies where title like 'The Kings Speech'
SELECT * from movies where title like 'Inception'
SELECT * from movies where title like 'The Social Network'
SELECT * from movies where title like 'The Fighter'
SELECT * from movies where title like 'Toy Story 3'
SELECT * from movies where title like 'Alice in Wonderland'
SELECT * from movies where title like 'Black Swan'
SELECT * from movies where title like 'In a Better World'
SELECT * from movies where title like 'The Lost Thing'
SELECT * from movies where title like 'God of Love'
SELECT * from movies where title like 'The Wolfman'
SELECT * from movies where title like 'Strangers No More'
SELECT * from movies where title like 'Inside Job'
SELECT * from movies where title like 'The Hurt Locker'
SELECT * from movies where title like 'Avatar'
SELECT * from movies where title like 'Precious'
SELECT * from movies where title like 'Up'
SELECT * from movies where title like 'Crazy Heart'
SELECT * from movies where title like 'Inglourious Basterds'
SELECT * from movies where title like 'Star Trek'
SELECT * from movies where title like 'The Young Victoria'
SELECT * from movies where title like 'The Blind Side'
SELECT * from movies where title like 'Music by Prudence'
SELECT * from movies where title like 'The Secret in Their Eyes'
SELECT * from movies where title like 'The Cove'
SELECT * from movies where title like 'The New Tenants'
SELECT * from movies where title like 'Logorama'
SELECT * from movies where title like 'Slumdog Millionaire'
SELECT * from movies where title like 'The Curious Case of Benjamin Button'
SELECT * from movies where title like 'Milk'
SELECT * from movies where title like 'The Dark Knight'
SELECT * from movies where title like 'WALL-E'
SELECT * from movies where title like 'The Reader'
SELECT * from movies where title like 'The Duchess'
SELECT * from movies where title like 'Departures'
SELECT * from movies where title like 'Vicky Cristina Barcelona'
SELECT * from movies where title like 'Smile Pinki'
SELECT * from movies where title like 'Man on Wire'
SELECT * from movies where title like 'Toyland'
SELECT * from movies where title like 'La Maison en Petits Cubes'
SELECT * from movies where title like 'No Country for Old Men'
SELECT * from movies where title like 'The Bourne Ultimatum'
SELECT * from movies where title like 'There Will Be Blood'
SELECT * from movies where title like 'La Vie en rose'
SELECT * from movies where title like 'Atonement'
SELECT * from movies where title like 'Michael Clayton'
SELECT * from movies where title like 'Ratatouille'
SELECT * from movies where title like 'Juno'
SELECT * from movies where title like 'Sweeney Todd: The Demon Barber of Fleet Street'
SELECT * from movies where title like 'The Golden Compass'
SELECT * from movies where title like 'Elizabeth: The Golden Age'
SELECT * from movies where title like 'Taxi to the Dark Side'
SELECT * from movies where title like 'Peter & the Wolf'
SELECT * from movies where title like 'Once'
SELECT * from movies where title like 'Le Mozart des pickpockets'
SELECT * from movies where title like 'The Counterfeiters (Die Fälscher)'
SELECT * from movies where title like 'Freeheld'
SELECT * from movies where title like 'The Departed'
SELECT * from movies where title like 'Pans Labyrinth (El laberinto del fauno)'
SELECT * from movies where title like 'Dreamgirls'
SELECT * from movies where title like 'Little Miss Sunshine'
SELECT * from movies where title like 'An Inconvenient Truth'
SELECT * from movies where title like 'Babel'
SELECT * from movies where title like 'The Queen'
SELECT * from movies where title like 'Letters from Iwo Jima'
SELECT * from movies where title like 'Pirates of the Caribbean: Dead Mans Chest'
SELECT * from movies where title like 'The Danish Poet'
SELECT * from movies where title like 'Happy Feet'
SELECT * from movies where title like 'The Last King of Scotland'
SELECT * from movies where title like 'The Lives of Others (Das Leben der Anderen)'
SELECT * from movies where title like 'Marie Antoinette'
SELECT * from movies where title like 'West Bank Story'
SELECT * from movies where title like 'The Blood of Yingzhou District'
SELECT * from movies where title like 'Crash'
SELECT * from movies where title like 'Brokeback Mountain'
SELECT * from movies where title like 'Memoirs of a Geisha'
SELECT * from movies where title like 'King Kong'
SELECT * from movies where title like 'Capote'
SELECT * from movies where title like 'Walk the Line'
SELECT * from movies where title like 'The Constant Gardener'
SELECT * from movies where title like 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe'
SELECT * from movies where title like 'Hustle & Flow'
SELECT * from movies where title like 'Syriana'
SELECT * from movies where title like 'March of the Penguins (La Marche de lempereur)'
SELECT * from movies where title like 'Six Shooter'
SELECT * from movies where title like 'The Moon and the Son: An Imagined Conversation'
SELECT * from movies where title like 'A Note of Triumph: The Golden Age of Norman Corwin'
SELECT * from movies where title like 'Tsotsi'
SELECT * from movies where title like 'Wallace & Gromit: The Curse of the Were-Rabbit'
SELECT * from movies where title like 'Million Dollar Baby'
SELECT * from movies where title like 'The Aviator'
SELECT * from movies where title like 'Ray'
SELECT * from movies where title like 'The Incredibles'
SELECT * from movies where title like 'Finding Neverland'
SELECT * from movies where title like 'Sideways'
SELECT * from movies where title like 'Lemony Snickets A Series of Unfortunate Events'
SELECT * from movies where title like 'Spider-Man 2'
SELECT * from movies where title like 'Eternal Sunshine of the Spotless Mind'
SELECT * from movies where title like 'The Motorcycle Diaries'
SELECT * from movies where title like 'The Sea Inside'
SELECT * from movies where title like 'Born into Brothels'
SELECT * from movies where title like 'Mighty Times: The Childrens March'
SELECT * from movies where title like 'Wasp'
SELECT * from movies where title like 'Ryan'
SELECT * from movies where title like 'The Lord of the Rings: The Return of the King'
SELECT * from movies where title like 'Master and Commander: The Far Side of the World'
SELECT * from movies where title like 'Mystic River'
SELECT * from movies where title like 'Cold Mountain'
SELECT * from movies where title like 'Lost in Translation'
SELECT * from movies where title like 'Finding Nemo'
SELECT * from movies where title like 'The Barbarian Invasions'
SELECT * from movies where title like 'Two Soldiers'
SELECT * from movies where title like 'Monster'
SELECT * from movies where title like 'Harvie Krumpet'
SELECT * from movies where title like 'Chernobyl Heart'
SELECT * from movies where title like 'The Fog of War'
SELECT * from movies where title like 'Chicago'
SELECT * from movies where title like 'The Pianist'
SELECT * from movies where title like 'The Lord of the Rings: The Two Towers'
SELECT * from movies where title like 'Frida'
SELECT * from movies where title like 'The Hours'
SELECT * from movies where title like 'Road to Perdition'
SELECT * from movies where title like 'Adaptation'
SELECT * from movies where title like 'Talk to Her (Hable con ella)'
SELECT * from movies where title like 'This Charming Man (Der Er En Yndig Mand)'
SELECT * from movies where title like 'Spirited Away'
SELECT * from movies where title like 'Nowhere in Africa (Nirgendwo in Afrika)'
SELECT * from movies where title like 'The ChubbChubbs!'
SELECT * from movies where title like 'Twin Towers'
SELECT * from movies where title like 'Bowling for Columbine'
SELECT * from movies where title like '8 Mile'
SELECT * from movies where title like 'A Beautiful Mind'
SELECT * from movies where title like 'The Lord of the Rings: The Fellowship of the Ring'
SELECT * from movies where title like 'Moulin Rouge!'
SELECT * from movies where title like 'Black Hawk Down'
SELECT * from movies where title like 'Gosford Park'
SELECT * from movies where title like 'Monsters, Inc.'
SELECT * from movies where title like 'Pearl Harbor'
SELECT * from movies where title like 'Iris'
SELECT * from movies where title like 'Shrek'
SELECT * from movies where title like 'Training Day'
SELECT * from movies where title like 'Monsters Ball'
SELECT * from movies where title like 'Thoth'
SELECT * from movies where title like 'For the Birds'
SELECT * from movies where title like 'No Mans Land'
SELECT * from movies where title like 'Murder on a Sunday Morning (Un coupable idéal)'
SELECT * from movies where title like 'The Accountant'
SELECT * from movies where title like 'Gladiator'
SELECT * from movies where title like 'Crouching Tiger, Hidden Dragon'
SELECT * from movies where title like 'Traffic'
SELECT * from movies where title like 'Erin Brockovich'
SELECT * from movies where title like 'Almost Famous'
SELECT * from movies where title like 'Wonder Boys'
SELECT * from movies where title like 'How the Grinch Stole Christmas'
SELECT * from movies where title like 'U-571'
SELECT * from movies where title like 'Pollock'
SELECT * from movies where title like 'Father and Daughter'
SELECT * from movies where title like 'Into the Arms of Strangers: Stories of the Kindertransport'
SELECT * from movies where title like 'Quiero ser (I want to be...)'
SELECT * from movies where title like 'Big Mama'
SELECT * from movies where title like 'American Beauty'
SELECT * from movies where title like 'The Matrix'
SELECT * from movies where title like 'The Cider House Rules'
SELECT * from movies where title like 'Topsy-Turvy'
SELECT * from movies where title like 'Sleepy Hollow'
SELECT * from movies where title like 'Boys Dont Cry'
SELECT * from movies where title like 'Tarzan'
SELECT * from movies where title like 'One Day in September'
SELECT * from movies where title like 'The Red Violin (Le violon rouge)'
SELECT * from movies where title like 'The Old Man and the Sea'
SELECT * from movies where title like 'My Mother Dreams the Satans Disciples in New York'
SELECT * from movies where title like 'King Gimp'