# Les 10: 07/05 - Databases

https://pypi.org/project/mysql-connector-python/

In [1]:
! pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   --- ------------------------------------ 1.6/16.4 MB 9.3 MB/s eta 0:00:02
   -------- ------------------------------- 3.4/16.4 MB 8.4 MB/s eta 0:00:02
   -------------- ------------------------- 6.0/16.4 MB 10.0 MB/s eta 0:00:02
   --------------------- ------------------ 8.9/16.4 MB 11.1 MB/s eta 0:00:01
   ----------------------------- ---------- 12.1/16.4 MB 11.8 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.4 MB 12.3 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 12.0 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

[notice] A new release of pip is available: 24.2 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Connectie met de databank

In [7]:
import mysql.connector

connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = connection.cursor()

print(connection.server_info)
print(connection.database)

cursor.close()
connection.close()

5.5.5-10.4.32-MariaDB
movies_db

## Create records

In [9]:
import mysql.connector

connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = connection.cursor()

insert_query = "INSERT INTO movies(title, synopsis) VALUES ('Harry Potter: Deathly Hallows part 1','Eerste deel van laatste boek Harry Potter')"

cursor.execute(insert_query)
connection.commit()

cursor.close()
connection.close()

In [10]:
import mysql.connector

connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)
cursor = connection.cursor()

insert_query = "INSERT INTO movies(title, synopsis) VALUES (%s, %s)"
movies = [
    ("Minecraft movie", "Dé minecraft movie ;)"),
    ("The last samurai","Een Amerikaanse soldaat blabla"),
    ("Death on the Nile","Murder on the nile, hercule Poirot")
]

for movie in movies:
    cursor.execute(insert_query, movie)
connection.commit()

cursor.close()
connection.close()

## Read records

In [12]:
import mysql.connector

connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)
cursor = connection.cursor()

cursor.execute("SELECT * FROM movies")
movies = cursor.fetchall()

for movie in movies:
    print(movie)
    print(movie[1])

cursor.close()
connection.close()

(1, 'Everything Everywhere All at Once', 'A multiverse-spanning adventure')
Everything Everywhere All at Once
(2, 'All Quiet on the Western Front', 'A World War I drama')
All Quiet on the Western Front
(3, 'The Whale', 'A man attempts to reunite with his estranged daughter')
The Whale
(4, 'Top Gun: Maverick', 'Maverick returns to train a new generation of fighter pilots')
Top Gun: Maverick
(5, 'Harry Potter: Deathly Hallows part 1', 'Eerste deel van laatste boek Harry Potter')
Harry Potter: Deathly Hallows part 1
(6, 'Harry Potter: Deathly Hallows part 1', 'Eerste deel van laatste boek Harry Potter')
Harry Potter: Deathly Hallows part 1
(7, 'Minecraft movie', 'Dé minecraft movie ;)')
Minecraft movie
(8, 'The last samurai', 'Een Amerikaanse soldaat blabla')
The last samurai
(9, 'Death on the Nile', 'Murder on the nile, hercule Poirot')
Death on the Nile

In [ ]:
import mysql.connector

connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)
cursor = connection.cursor()

cursor.execute("SELECT * FROM movies")
movies = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

for movie in movies:
    print(movie[columns.index('title')])

cursor.close()
connection.close()

Everything Everywhere All at Once
All Quiet on the Western Front
The Whale
Top Gun: Maverick
Harry Potter: Deathly Hallows part 1
Harry Potter: Deathly Hallows part 1
Minecraft movie
The last samurai
Death on the Nile

In [18]:
import mysql.connector

connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)
cursor = connection.cursor()

cursor.execute("SELECT actors.name FROM movies " \
"                   JOIN movie_actor ON movies.id = movie_actor.movie_id" \
"                   JOIN actors on movie_actor.actor_id = actors.id" \
"               WHERE movies.id=1")
movies = cursor.fetchall()

for movie in movies:
    print(movie)

cursor.close()
connection.close()

('Michelle Yeoh',)
('Stephan James',)
('Jamie Lee Curtis',)

## Movies scrapen
https://nl.wikipedia.org/wiki/Lijst_van_succesvolste_films

goede api voor extra info: https://www.omdbapi.com/

In [ ]:
import pandas as pd
import mysql.connector


tables = pd.read_html("https://nl.wikipedia.org/wiki/Lijst_van_succesvolste_films")
# print(tables[0])
movies = tables[0]

connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)
cursor = connection.cursor()

insert_query = "INSERT INTO movies(title) VALUES (%s)"

for movie in movies['Titel']:
    cursor.execute(insert_query, [movie])
    print(movie,"is toegevoegd in de tabel!")
connection.commit()

cursor.close()
connection.close()

Avatar is toegevoegd in de tabel!
Avengers: Endgame is toegevoegd in de tabel!
Avatar: The Way of Water is toegevoegd in de tabel!
Titanic is toegevoegd in de tabel!
Ne Zha 2 * is toegevoegd in de tabel!
Star Wars: Episode VII: The Force Awakens is toegevoegd in de tabel!
Avengers: Infinity War is toegevoegd in de tabel!
Spider-Man: No Way Home is toegevoegd in de tabel!
Inside Out 2 is toegevoegd in de tabel!
Jurassic World is toegevoegd in de tabel!
The Lion King is toegevoegd in de tabel!
The Avengers is toegevoegd in de tabel!
Furious 7 is toegevoegd in de tabel!
Top Gun: Maverick is toegevoegd in de tabel!
Frozen II is toegevoegd in de tabel!
Barbie is toegevoegd in de tabel!
Avengers: Age of Ultron is toegevoegd in de tabel!
The Super Mario Bros. Movie is toegevoegd in de tabel!
Black Panther is toegevoegd in de tabel!
Harry Potter en de Relieken van de Dood deel 2 is toegevoegd in de tabel!
Deadpool & Wolverine is toegevoegd in de tabel!
Star Wars: Episode VIII: The Last Jedi is toegevoegd in de tabel!
Jurassic World: Fallen Kingdom is toegevoegd in de tabel!
Frozen is toegevoegd in de tabel!
Beauty and the Beast is toegevoegd in de tabel!
Incredibles 2 is toegevoegd in de tabel!
The Fate of the Furious is toegevoegd in de tabel!
Iron Man 3 is toegevoegd in de tabel!
Minions is toegevoegd in de tabel!
Captain America: Civil War is toegevoegd in de tabel!
Aquaman is toegevoegd in de tabel!
The Lord of the Rings: The Return of the King is toegevoegd in de tabel!
Spider-Man: Far From Home is toegevoegd in de tabel!
Captain Marvel is toegevoegd in de tabel!
Transformers: Dark of the Moon is toegevoegd in de tabel!
The Dark Knight Rises is toegevoegd in de tabel!
Skyfall is toegevoegd in de tabel!
Jurassic Park is toegevoegd in de tabel!
Transformers: Age of Extinction is toegevoegd in de tabel!
Aladdin is toegevoegd in de tabel!
Joker is toegevoegd in de tabel!
Star Wars: Episode IX: The Rise of Skywalker is toegevoegd in de tabel!
Toy Story 4 is toegevoegd in de tabel!
Toy Story 3 is toegevoegd in de tabel!
Pirates of the Caribbean: Dead Man's Chest is toegevoegd in de tabel!
Vaiana 2 * is toegevoegd in de tabel!
Rogue One: A Star Wars Story is toegevoegd in de tabel!
Pirates of the Caribbean: On Stranger Tides is toegevoegd in de tabel!
Star Wars: Episode I: The Phantom Menace is toegevoegd in de tabel!
Despicable Me 3 is toegevoegd in de tabel!
Finding Dory is toegevoegd in de tabel!
Harry Potter en de Steen der Wijzen is toegevoegd in de tabel!
Zootropolis is toegevoegd in de tabel!
Alice in Wonderland is toegevoegd in de tabel!
The Hobbit: An Unexpected Journey is toegevoegd in de tabel!
The Dark Knight is toegevoegd in de tabel!
Jurassic World: Dominion is toegevoegd in de tabel!
The Lion King is toegevoegd in de tabel!
Oppenheimer is toegevoegd in de tabel!
Harry Potter en de Relieken van de Dood deel 1 is toegevoegd in de tabel!
Despicable Me 2 is toegevoegd in de tabel!
Despicable Me 4 is toegevoegd in de tabel!
The Jungle Book is toegevoegd in de tabel!
Jumanji: Welcome to the Jungle is toegevoegd in de tabel!
The Hobbit: The Battle of the Five Armies is toegevoegd in de tabel!
Pirates of the Caribbean: At World's End is toegevoegd in de tabel!
The Hobbit: The Desolation of Smaug is toegevoegd in de tabel!
Doctor Strange in the Multiverse of Madness is toegevoegd in de tabel!
Harry Potter en de Orde van de Feniks is toegevoegd in de tabel!
Finding Nemo is toegevoegd in de tabel!
Harry Potter en de Halfbloed Prins is toegevoegd in de tabel!
Minions: The Rise of Gru is toegevoegd in de tabel!
The Lord of the Rings: The Two Towers is toegevoegd in de tabel!
Shrek 2 is toegevoegd in de tabel!
Bohemian Rhapsody is toegevoegd in de tabel!
Star Wars: Episode III: Revenge of the Sith is toegevoegd in de tabel!
The Battle at Lake Changjin is toegevoegd in de tabel!
Harry Potter en de Vuurbeker is toegevoegd in de tabel!
Spider-Man 3 is toegevoegd in de tabel!
The Lord of the Rings: The Fellowship of the Ring is toegevoegd in de tabel!
Ice Age: Dawn of the Dinosaurs is toegevoegd in de tabel!
Harry Potter en de Geheime Kamer is toegevoegd in de tabel!
Spider-Man: Homecoming is toegevoegd in de tabel!
Spectre is toegevoegd in de tabel!
Ice Age: Continental Drift is toegevoegd in de tabel!
The Secret Life of Pets is toegevoegd in de tabel!
Batman v Superman: Dawn of Justice is toegevoegd in de tabel!
A Minecraft Movie * is toegevoegd in de tabel!
Wolf Warrior 2 is toegevoegd in de tabel!
The Hunger Games: Catching Fire is toegevoegd in de tabel!
Guardians of the Galaxy Vol. 2 is toegevoegd in de tabel!
Black Panther: Wakanda Forever is toegevoegd in de tabel!
Inside Out is toegevoegd in de tabel!
Venom is toegevoegd in de tabel!
Thor: Ragnarok is toegevoegd in de tabel!
The Twilight Saga: Breaking Dawn Part 2 is toegevoegd in de tabel!
Guardians of the Galaxy Vol. 3 is toegevoegd in de tabel!
Inception is toegevoegd in de tabel!
Transformers: Revenge of the Fallen is toegevoegd in de tabel!
Spider-Man is toegevoegd in de tabel!

In [35]:
import mysql.connector

connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)
cursor = connection.cursor()

cursor.execute("SELECT * FROM movies")
movies = cursor.fetchall()

for movie in movies:
    if (movie[2] is None):
        print(movie)

cursor.close()
connection.close()

(10, 'Avatar', None)
(11, 'Avengers: Endgame', None)
(12, 'Avatar: The Way of Water', None)
(13, 'Titanic', None)
(14, 'Ne Zha 2 *', None)
(15, 'Star Wars: Episode VII: The Force Awakens', None)
(16, 'Avengers: Infinity War', None)
(17, 'Spider-Man: No Way Home', None)
(18, 'Inside Out 2', None)
(19, 'Jurassic World', None)
(20, 'The Lion King', None)
(21, 'The Avengers', None)
(22, 'Furious 7', None)
(23, 'Top Gun: Maverick', None)
(24, 'Frozen II', None)
(25, 'Barbie', None)
(26, 'Avengers: Age of Ultron', None)
(27, 'The Super Mario Bros. Movie', None)
(28, 'Black Panther', None)
(29, 'Harry Potter en de Relieken van de Dood deel 2', None)
(30, 'Deadpool & Wolverine', None)
(31, 'Star Wars: Episode VIII: The Last Jedi', None)
(32, 'Jurassic World: Fallen Kingdom', None)
(33, 'Frozen', None)
(34, 'Beauty and the Beast', None)
(35, 'Incredibles 2', None)
(36, 'The Fate of the Furious', None)
(37, 'Iron Man 3', None)
(38, 'Minions', None)
(39, 'Captain America: Civil War', None)
(40, 'Aquaman', None)
(41, 'The Lord of the Rings: The Return of the King', None)
(42, 'Spider-Man: Far From Home', None)
(43, 'Captain Marvel', None)
(44, 'Transformers: Dark of the Moon', None)
(45, 'The Dark Knight Rises', None)
(46, 'Skyfall', None)
(47, 'Jurassic Park', None)
(48, 'Transformers: Age of Extinction', None)
(49, 'Aladdin', None)
(50, 'Joker', None)
(51, 'Star Wars: Episode IX: The Rise of Skywalker', None)
(52, 'Toy Story 4', None)
(53, 'Toy Story 3', None)
(54, "Pirates of the Caribbean: Dead Man's Chest", None)
(55, 'Vaiana 2 *', None)
(56, 'Rogue One: A Star Wars Story', None)
(57, 'Pirates of the Caribbean: On Stranger Tides', None)
(58, 'Star Wars: Episode I: The Phantom Menace', None)
(59, 'Despicable Me 3', None)
(60, 'Finding Dory', None)
(61, 'Harry Potter en de Steen der Wijzen', None)
(62, 'Zootropolis', None)
(63, 'Alice in Wonderland', None)
(64, 'The Hobbit: An Unexpected Journey', None)
(65, 'The Dark Knight', None)
(66, 'Jurassic World: Dominion', None)
(67, 'The Lion King', None)
(68, 'Oppenheimer', None)
(69, 'Harry Potter en de Relieken van de Dood deel 1', None)
(70, 'Despicable Me 2', None)
(71, 'Despicable Me 4', None)
(72, 'The Jungle Book', None)
(73, 'Jumanji: Welcome to the Jungle', None)
(74, 'The Hobbit: The Battle of the Five Armies', None)
(75, "Pirates of the Caribbean: At World's End", None)
(76, 'The Hobbit: The Desolation of Smaug', None)
(77, 'Doctor Strange in the Multiverse of Madness', None)
(78, 'Harry Potter en de Orde van de Feniks', None)
(79, 'Finding Nemo', None)
(80, 'Harry Potter en de Halfbloed Prins', None)
(81, 'Minions: The Rise of Gru', None)
(82, 'The Lord of the Rings: The Two Towers', None)
(83, 'Shrek 2', None)
(84, 'Bohemian Rhapsody', None)
(85, 'Star Wars: Episode III: Revenge of the Sith', None)
(86, 'The Battle at Lake Changjin', None)
(87, 'Harry Potter en de Vuurbeker', None)
(88, 'Spider-Man 3', None)
(89, 'The Lord of the Rings: The Fellowship of the Ring', None)
(90, 'Ice Age: Dawn of the Dinosaurs', None)
(91, 'Harry Potter en de Geheime Kamer', None)
(92, 'Spider-Man: Homecoming', None)
(93, 'Spectre', None)
(94, 'Ice Age: Continental Drift', None)
(95, 'The Secret Life of Pets', None)
(96, 'Batman v Superman: Dawn of Justice', None)
(97, 'A Minecraft Movie *', None)
(98, 'Wolf Warrior 2', None)
(99, 'The Hunger Games: Catching Fire', None)
(100, 'Guardians of the Galaxy Vol. 2', None)
(101, 'Black Panther: Wakanda Forever', None)
(102, 'Inside Out', None)
(103, 'Venom', None)
(104, 'Thor: Ragnarok', None)
(105, 'The Twilight Saga: Breaking Dawn Part 2', None)
(106, 'Guardians of the Galaxy Vol. 3', None)
(107, 'Inception', None)
(108, 'Transformers: Revenge of the Fallen', None)
(109, 'Spider-Man', None)

In [44]:
import connection

connection.execute_query("INSERT INTO movies(Title) values ('Test test')")

110